/* MELHORIAS:
-Deixar responsivo
*/

:root {
    --input-linear: linear-gradient(120deg, #E75590, #00C2CB);
    --input-error: red;
    --button-linear: linear-gradient(120deg, #E75590, #00C2CB, #E75590);
    --button-disabled: #acacac;
    --button-success: rgb(18, 151, 107);
    --white: #ffffff;
    --black: #303030;
    --light-grey: #cfcfcf;
    --grey: #929292;
    --border-height: 0.1rem;
}

html {
    /* 1rem = 16px (User Agent) = 100% (User Agent) */
    font-size: 62.5% /* 10px */
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.login {
    height: 100vh;
    background: var(--input-linear);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    min-height: 40rem;
    width: 30rem;
    background-color: var(--white);
    box-sizing: border-box;
    padding: 3.2rem;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    margin-bottom: 3.2rem;
    color: var(--black);
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-input {
    height: 4.8rem;
    width: 100%;
    box-sizing: border-box;
    padding-left: 0.8rem;
    border: unset;
    outline: none;
}

.login-input-border {
    height: var(--border-height);
    width: 100%;
    margin-bottom: 1.6rem;
    background-color: var(--light-grey);
    transition: .3s ease-in;
}

.login-input-border.error {
    background: var(--input-error);
}

.login-input-border.error::after {
    background: var(--input-error);
}

.login-input-border::after {
    content: '';
    display: block;
    height: var(--border-height);
    width: 0;
    margin-bottom: 1.6rem;
    background: var(--input-linear);
    transition: .3s ease-in-out;
}

.login-input:focus + .login-input-border::after {
    width: 100%;
}

.login-submit {
    height: 4.8rem;
    width: 100%;
    outline: none;
    background: var(--button-linear);
    background-size: 200%;
    margin-bottom: 3.2rem;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: bold;
    border: unset;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.login-submit:hover {
    background-position: right;
  }

.login-submit.error {
  background: var(--input-error);
}

.login-submit.success {
    background: var(--button-success);
  }

.login-submit:disabled {
    background: var(--button-disabled);
    cursor: not-allowed;
}

.login-reset {
    color: var(--grey);
    font-size: 1.2rem;
    text-decoration: none;
}

.sr-only {
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}